@charset "UTF-8";

/*
Copyright DEPP © 2017 - Ministère de l'éducation nationale  
*/


/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */


/* Controle DEPP CSS */

.nterreInteraction {
    font-size: unset;
    text-align: left;
    background: #fff;
    font-weight: 100;
    color: black;
    border: none;
}

.qti-customInteraction .nterreInteraction .exposant {
    top: -1.5rem !important;
}

.qti-customInteraction .nterreInteraction .nterransw {
    display: none;
}

.qti-customInteraction .nterreInteraction body {
    font-family: sans-serif;
}

.qti-customInteraction .nterreInteraction .nterreInteractionbg {
    height: 0px;
}

.qti-customInteraction .nterreInteraction .fond {
    opacity: 1;
    fill: #000000;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path4151-6 {
    opacity: 1;
    fill: #e6ab84;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
    filter: url(#filter5823);
}

.qti-customInteraction .nterreInteraction .path5936 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5938 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5940 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5942 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5944 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5946 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5948 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5950 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5952 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5960 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5962 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5960-8 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5979 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .path5979-9 {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.61999989;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 0.39215686;
}

.qti-customInteraction .nterreInteraction .cmdajuster {
    background-color: grey;
    position: absolute;
    margin-top: -27px;
    width: 900px;
    padding-left: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.qti-customInteraction .nterreInteraction .planetbox {
    margin-top: -45px;
}

.qti-customInteraction .nterreInteraction .plantext {
    color: white;
    position: absolute;
    margin-top: -310px;
    margin-left: 727px;
}

.qti-customInteraction .nterreInteraction .planetbox svg {
    position: absolute;
    margin-top: -300px;
    margin-left: 700px;
}

.qti-customInteraction .nterreInteraction .param {
    text-align: center;
    width: 200px;
    margin-right: 20px;
}

.qti-customInteraction .nterreInteraction .gravitas {
    font-size: 20px;
    margin-left: 200px;
    margin-top: 375px;
    position: absolute;
    color: white;
}

.qti-customInteraction .nterreInteraction .etoile {
    color: white;
    position: absolute;
    margin-top: 255px;
    margin-left: 120px;
}


/*.nterreInteraction  Planet Rotation  */

@keyframes nterreInteraction-beat {
    0% {
        transform: scale(0.97, 1);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0.97, 1);
    }
}

@keyframes nterreInteraction-starbeat {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes nterreInteraction-starbeato {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.qti-customInteraction .nterreInteraction .sun {
    animation: nterreInteraction-beat 3s ease infinite;
}

.qti-customInteraction .nterreInteraction .path5936 {
    animation: nterreInteraction-starbeato 10s ease infinite;
}

.qti-customInteraction .nterreInteraction .path5938 {
    animation: nterreInteraction-starbeat 15s ease infinite;
}

.qti-customInteraction .nterreInteraction .path5942 {
    animation: nterreInteraction-starbeato 20s ease infinite;
}

.qti-customInteraction .nterreInteraction .path5946 {
    animation: nterreInteraction-starbeat 8s ease infinite;
}

.qti-customInteraction .nterreInteraction .path5960-8 {
    animation: nterreInteraction-starbeato 20s ease infinite;
}

.qti-customInteraction .nterreInteraction .path5960 {
    animation: nterreInteraction-starbeat 20s ease infinite;
}

.qti-customInteraction .nterreInteraction {
    height: 570px;
    width: 100%;
    padding: 10px 20px 16px;
}

.qti-customInteraction .nterreInteraction * {
    box-sizing: border-box;
}

.qti-customInteraction .nterreInteraction body {
    background: #2b2e31;
}

.qti-customInteraction .nterreInteraction .slider {
    width: 200px;
    margin: 100px auto;
}

.qti-customInteraction .nterreInteraction input[type=range] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 80%;
    height: 20px;
    margin: 0;
    border: none;
    padding: 1px 2px;
    border-radius: 14px;
    background: #232528;
    box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    outline: none;
    /* no focus outline */
}

.qti-customInteraction .nterreInteraction input[type=range]::-moz-range-track {
    border: inherit;
    background: transparent;
}

.qti-customInteraction .nterreInteraction input[type=range]::-ms-track {
    border: inherit;
    color: transparent;
    /* don't drawn vertical reference line */
    background: transparent;
}

.qti-customInteraction .nterreInteraction input[type=range]::-ms-fill-lower,
.qti-customInteraction .nterreInteraction input[type=range]::-ms-fill-upper {
    background: transparent;
}

.qti-customInteraction .nterreInteraction input[type=range]::-ms-tooltip {
    display: none;
}


/* thumb */

.qti-customInteraction .nterreInteraction input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 22px;
    border: none;
    border-radius: 12px;
    /* android <= 2.2 */
    /* older mobile safari and android > 2.2 */
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
    /* W3C */
}

.qti-customInteraction .nterreInteraction input[type=range]::-moz-range-thumb {
    width: 30px;
    height: 22px;
    border: none;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
    /* W3C */
}

.qti-customInteraction .nterreInteraction input[type=range]::-ms-thumb {
    width: 40px;
    height: 18px;
    border-radius: 12px;
    border: 0;
    background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
    /* W3C */
}

.qti-customInteraction .nterreInteraction .ui-slider-handle {
    width: 20px;
    height: 30px;
    border-radius: 25%;
    background-color: #529de1;
}

.qti-customInteraction .nterreInteraction .param {
    border-color: transparent;
}

.qti-customInteraction .nterreInteraction .ui-slider {
    background-color: whitesmoke;
    border-radius: 25px;
}


/*# sourceMappingURL=nterre.css.map */